
.board_cell{
	border-style:solid;
	border-width:2px;
	border-radius:3px;
	padding:50px;
	margin:5px;
    width:10px;
}

.board_row{
	display:inline-grid;
}

.game_elements{
	width:100px;
	height:100px;
}

#game_elements_outer_container{
	display: inline-grid;
}

#game_elements_inner_container{
	margin-left: 35px;
	display: inline-grid;
}


