
.board_cell{
	border-style:solid;
}


.game_elements{
	width:100px;
	height:100px;
}

#game_elements_outer_container{
	display: inline-grid;
}

#game_elements_inner_container{
	margin-top: 35px;
    margin-left: 87px;
    display: inline-flex;
}


table.fixed {
	table-layout:fixed; 
	width:40%;
}

.element{
	padding-top: 10px;
	padding-bottom: 10px;
	font-size: 40px;
}

.o_element{
	color:red;
}

.x_element{
	color:black;
}

.fill_element{
	visibility: hidden;
}

#reset_game_board{
	margin-left: 15px;
	margin-bottom: 20px;
}





